body{
	background-color:#628DB8;
	margin:0;
}
ul{
	margin-top:0;
}
#title{
	margin-top:0;
}


.title_page{
	background-color:#5C97DA;
	margin-bottom:0;
	overflow:auto;
}
.top{
	background-color:black;
	position:sticky;
	top:0;
	height:30px;
	text-align:center;
	overflow:auto;
}
.navbar{
	list-style-type:none;
	margin-top:0;
	text-align:center;
	font-size:15px;
}
.navlist{
	display:inline-block;
	padding-top:4px;
	margin-left:5px;
	margin-right:5px;
	
}
.navlink{
	text-decoration:none;
	color:white;
	font-family: Verdana;
}
.navlink:hover{
	background-color:#61A5E9;
}
.split{
	display:flex;
	justify-content:center;
}
.container1{
	height:100vh;
	width:100vw;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

}
.container2{
	height:100vh;
	width:100vw;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-right:1vh solid gray;
}
.box1{display:inline;grid area:one}
.box2{grid area:two}
.box3{grid area:three}
.box4{grid area:four}
.box5{grid area:five}

.grid-container1{
	display:grid;
	grid-template-areas:
	"one"
	"two";
	grid-gap:10px;
	padding:10px;
}

.content1{
	background-color: rgba(255, 255, 255, 0.8);
	padding:20px;
}
.content2{
	background-color: rgba(255, 255, 255, 0.8);
	padding:20px;
	font-size:1.3em;
	margin:1em;

}
video{
	width:40vw;
}
img{
	height:20vh;
	margin-left:0.5em;
	margin-right:0.5em;
	float:left;
}
.description{
	display:inline;
}