body{
	background-color:#628DB8;
	margin:0px;
}
h1{
	text-align:center;
	font-family:Cascadia Code;
}
h3{
	text-align:center;
	margin-bottom:0;
	font-family:Cascadia Code;
}
ul{
	margin-top:0;
}
#title{
	margin-top:0;
}


.title_page{
	background-color:#5C97DA;
	margin-bottom:0;

}
.top{
	background-color:black;
	position:sticky;
	top:0;
	height:30px;
	text-align:center;
	overflow:hidden;
	z-index:100;
}
.navbar{
	list-style-type:none;
	margin-top:0;
	text-align:center;
	font-size:15px;
}
.navlist{
	display:inline-block;
	padding-top:4px;
	margin-left:5px;
	margin-right:5px;
	
}
.navlink{
	text-decoration:none;
	color:white;
	font-family: Verdana;
}
.navlink:hover{
	background-color:#61A5E9;
}

.selfie_section, .dump_section, .family_section, .friend_section, .others_section{
	display:inline-block;
}

.title{
	font-family:Helvetica;
	font-size:2em;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	max-width:250px;
	background-color:#2E74BA;
	box-shadow:5px 2px 8px #336BA4;
}

img{
	border:4px solid #A4C5E6;
	filter:grayscale(100%);
	height:auto;
	width:150px;
	margin:20px;
}
img:hover{
	filter:grayscale(0%);
	transition:0.2s;
	

}
.collection{

	text-align:center;

}