body {
    background-color: lightgoldenrodyellow;
}
h1 {
    text-align: center;
    font-family: Cascadia Code;
}
h2 {
    font-family: 'Book Antiqua';
    background-color: burlywood;
    box-shadow: 5px 2px 8px brown;
}
h3 {
    text-align: center;
    font-family: Cascadia Code;
}
hr {
    height: 10px;
    width: 24em;
    border: none;
    border-radius:5px;
    box-shadow:5px 2px 8px brown;
    background-color:burlywood;
}
p {
    text-align:left;
}